<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.alexkorovyansky.carwashfor"
    android:versionCode="3"
    android:versionName="1.1">

    <uses-sdk android:minSdkVersion="8" android:targetSdkVersion="17" />

    <uses-permission android:name="android.permission.INTERNET"/>
    <uses-permission android:name="android.permission.ACCESS_COARSE_LOCATION"/>

    <application android:allowBackup="true"
        android:label="@string/app_name"
        android:icon="@drawable/ic_launcher"
        android:theme="@style/AppTheme">

        <receiver android:name=".ForecasterAppWidgetProvider" >
            <intent-filter>
                <action android:name="android.appwidget.action.APPWIDGET_UPDATE" />
            </intent-filter>
            <meta-data android:name="android.appwidget.provider"
                       android:resource="@xml/forecaster_app_widget_info_1x1" />
        </receiver>

        <service android:name=".services.ForecastIntentService"/>
    </application>

</manifest>
